*.png
*.jpeg
*.jpg
*.JPG
*.tif
*.tiff
*.tff
*.mlmodel
*.rar
*.xlsx
*.xml
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.json
*.exe
*.box
*.log
*.zip
*.gzip
*.hocr
*.html
*.ScanTailor
*.pickle
*.p
*.gz
*.gzip
*.csv
*.tsv
*.docx
.idea/
.env
.venv/
._*